.card {
  border: 1px solid white;
  border-radius: 4px;
  padding: 1rem;
  max-width: 600px;
  margin-bottom: 1rem;
}

.card h3 {
  font-weight: bold;
}

.card fieldset,
.card .fieldset {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  margin-bottom: 1rem;
}

.card fieldset legend,
.card .fieldset legend {
  flex: 1;
}

.card .custom-input {
  color: black;
}
