.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.container maplibregl-canvas-container {
  height: 100%;
}

.container .button {
  margin-right: 1rem;
}

.main {
  padding: 1rem;
}
