/* .container table td {
  border-bottom: 1px solid #444;
  padding-right: 1rem;
} */

.card {
  border: 1px solid white;
  border-radius: 4px;
  padding: 1rem;
  /* max-width: 600px; */
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: 100%;
}
